<%- include('./components/header') %>

<div style="display: grid;grid-template-columns: auto auto auto auto;background-color: rgb(92, 92, 92);padding-top: 7px;box-shadow: 2px 2px 8px;
border-radius: 10px;">
    <a style="padding-left: 10px;" href="/question">homePage</a>
    <h4 style="color: bisque;">this question is from :</h4> <label
        style="color: rgb(255, 180, 89); margin-top: 0px;margin-left: -200px;font-weight: 1000;"><%= owner.username %></label>
    <h4 style="color: bisque;">there are <%= comment.length %> Comment</h4>

</div>
<div class="oneElement">
    <div style="display: grid;grid-template-columns: auto auto auto;">
        <h1 class="hh4" style="width: 70%;margin-right: 950px; ;"><%= post.question %></h1>
        <div style="margin-top: 0px;">
            <% if (user) {%>
            <% if(user.id == post.user_id)  {%>
            <div style="text-align: right ;display: flex;">
                <button style="height: 40px;margin-top: 20px;margin-left: -200px;"> <a
                        href=/question/edit/<%= post._id %>>Edit </a></button>
                <a href=/remove/<%= post.id %> style="margin-top: -11px;"> <button
                        style="margin-left: 100px; color: rgb(220, 0, 0);" style="color:crimson">Delete
                        Question</button></a>
            </div>
            <% } %>
            <% } %>
        </div>
    </div>
    <label><%= post.createdAt.getDate() %>/<%= post.createdAt.getMonth() + 1 %>/<%= post.createdAt.getFullYear() %></label><br>
    <h4 style="margin-top: -30px; font-size: larger;"><%= post.description %></h4>
</div>

<button id="btncomment">add comment</button>
<form id="form" method="POST" style="display: none; box-shadow: none;width: 1000px;" action=/comment/<%= post._id %>>
    <textarea id="comment" name="comment" placeholder="add comment"></textarea>
    <button>add</button>
</form>
<hr>
<div style="margin-top: -30px; margin-left: 60px;"><br>
    <% if(comment.length > 0) { %>
    <% comment.forEach(one => { %>
    <h4 style="color: rgb(0, 179, 179);margin-bottom: 0px;padding-bottom: 0px;"><%= one.user_name %> :</h4>
    <div style="display: grid;grid-template-columns: auto auto auto;">
        <h5 style="margin-top: 0px;padding-top: 0px;margin-left: 20px;width: 900px;height: 100px;overflow: hidden;">
            <%= one.comment %></h5>
        <h6><%= one.createdAt.getDate() %>/<%= one.createdAt.getMonth() + 1 %>/<%= one.createdAt.getFullYear() %></h6>

        <% if (user) { %>
        <% if(user.id == one.user_id )  {%>
        <label style="margin-right: 0px;padding: 0px;padding-bottom: 0px;;margin-bottom: 50px;"> <a
                href=/edit-comment/<%= one._id %>>Edit </a></label>
        <% } if(user.id == post.user_id || user.id == one.user_id) {%>
        <label style="margin-right: 0px;padding: 0px;padding-bottom: 0px;;margin-bottom: 50px;"><a
                style=" color: rgb(220, 0, 0);" href=/cancel/<%= one.id %> style="color:crimson">Delete
                Comment</a></label>
        <% } %>

        <% } %>
    </div>
    <hr>
    <% }) %>
    <% } %>

</div>


<div>
    <% if(error && error.comment) { %>
    <p class="error" style="margin-left: 200px;"><%= error.comment.message %></p>
    <% } %>
</div>


<%- include('./components/footer.ejs') %>

<script>
    $('#btncomment').click(function () {
        $('#form').slideToggle(100)
    })


</script>